.heading{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(46 46 46 ) !important;
    position: relative;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
    margin-right: auto;
    
}
.heading::before{
    position: absolute;
    border-radius: 0.5rem;
    width: 4rem;
    height: 0.25rem;
    bottom: -0.5rem;
    left: 0px;
}

.foodFilter{
    width: 6rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
}
.foodFilter:hover{
    background-color: rgb(232 0 19 );
}
.foodItem{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foodFilter:hover .foodItem{
    background-color: rgb(255 255 255)
}

.foodItemIcon{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.foodFilter:hover .foodItemIcon{
    color: rgb(81 81 81)
}

.foodItemText{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.foodFilter:hover .foodItemText{
    color: rgb(255 255 255 )
}

